/* reset  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* common  */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section {
    height: 100vh;
    position: relative;
}

/* navigation  */
nav {
    position: fixed;
    top: 0%;
    width: 100%;
    text-align: right;
    z-index: 4;
}
nav li, nav a {
    display: inline-block;    
}
nav a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    line-height: 50px;

    height: 50px;
    width: 50px;
    border-radius: 50%;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    margin: 40px 20px 0;
}

/* section colors  */
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

/* content  */
img {
    width: 50vw;  
}
p {
    font-size: 46px;
    font-weight: 900;
    color: yellow;
    text-transform: uppercase;
    text-align: center;
}
.yellow p {
    color: green;
}